
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Bruno Etchepare, Growth Hacker</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bundle.css">

    <style type="text/css">
      body {
        background: dimgrey;
      }
    </style>
  </head>
  <body>
    <section><div class="profile-picture">
<img src="https://pbs.twimg.com/profile_images/884473417289920512/UUq4o7HV_400x400.jpg" alt="Bruno Di Maulo Etchepare">
</div>
<header>
  <h1>Bruno Di Maulo Etchepare</h1>
  <p>Eight-year online marketing experience, mostly in startup environment working with growth strategies that address activation, acquisition, conversion, retention, referral and revenue optimization. Strong background in SEO, web analytics, inbound marketing and psychological sciences.</p>
</header>
<div class="user-details">

  <ul class="user-contact">
  <li>
      <a href="https://www.twitter.com/BrunoEtchepare">
        @BrunoEtchepare<span class="nc-icon-glyph socials-1_logo-twitter"></span>
      </a>
    </li>
    <li>
      <a href="mailto:bdmetchepare@gmail.com">
        email<span class="nc-icon-glyph ui-1_email-85"></span>
      </a>
    </li>
    <li>
      <a href="https://www.linkedin.com/in/brunoetchepare">
        linkedin<span class="nc-icon-glyph socials-1_logo-linkedin"></span>
      </a>
    </li>
     <li>
      <a href="https://www.linkedin.com/in/brunoetchepare">
        instagram<span class="nc-icon-glyph socials-1_logo-instagram"></span>
      </a>
    </li>
  </ul>

  <ul class="user-meta">
    <li>
      <h3>Location</h3>
      Sao Paulo, Brazil
    </li>
<spam style="
    line-height: 50%;
}
<br></spam>
    <li>
      <h3>Specialties</h3>
      Growth Hacking, Marketing Automation
    </li>
  </ul>
</div>
</section>
  </body>
</html>
